* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #525252;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#imagePreview{
    max-height: 600px;
    max-width: 600px;
}

.tag-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 20px;
  }
.tag {
  margin: 5px 0;
}
.progress-bar {
  height: 20px;
  background-color: #4caf50;
}
.progress-bar-container {
  width: 100%;
  background-color: #ddd;
}

button{
    cursor: pointer;
    background-color: teal;
    padding: 10px;
    color: white;
    border-radius: 20px;
    box-shadow: none;
}